In [1]:
print("Why Databases ?")

Why Databases ?

Data

**ETL**

files systems

redudendecy
have to right custom programs to insert and update data

In [6]:
%%writefile info.txt
sachin,40,50
rajat,30,45
manish,50,50

Writing info.txt

In [7]:
name = input("Enter your name: ")
math  = input("Enter maths marks: ")
sci = input("Enter Science marks: ")
row = f"\n{name},{math},{sci}"

Enter your name: sachin
Enter maths marks: 40
Enter Science marks: 50

In [8]:
with open('info.txt', 'a') as fp:
    fp.write(row)
    fp.close()

In [9]:
!head info.txt

sachin,40,50
rajat,30,45
manish,50,50

sachin,40,50

In [10]:
fp = open('info.txt')
data = fp.read()

In [11]:
data

'sachin,40,50\nrajat,30,45\nmanish,50,50\n\nsachin,40,50'

In [25]:
def proces_data(data):
    data = data.split('\n')
    lines = []
    for line in data:
        line = line.split(',')
        if len(line) > 2:
            line[1:] = list(map(int, line[1:]))
            lines.append(line)
    return lines

In [17]:
data.split('\n'))

SyntaxError: invalid syntax (<ipython-input-17-83acde9aad19>, line 1)

In [26]:
psdata = proces_data(data)

In [27]:
psdata

[['sachin', 40, 50], ['rajat', 30, 45], ['manish', 50, 50], ['sachin', 40, 50]]

In [28]:
max([ d[2] for d in psdata])

50

data -->

    structured data
    unstructured data
    
    semi-structured data (mongo db, dict)

database --> application to store and process data

table ? row and columns
row --> tuple --> inforamation about a single enity
column --> attributes

CURD

DDL --> Data Defination Language
    create 
    alter 
    drop
    turncate
DML --> 
    insert
    update
    delete
    select
TCL --> 
    commit
    rollback
DCL --> 
    grant
    revoke

https://github.com/sachinyadav3496/Datasets

!python -m pip install pymysql

In [30]:
import pymysql

In [31]:
connection = pymysql.connect('localhost',
                            'sachin',
                            'redhat',
                            'infytq')

In [32]:
cur = connection.cursor()

In [33]:
cmd = "SHOW TABLES"

In [34]:
cur.execute(cmd)

1

In [35]:
data= cur.fetchall()

In [36]:
data

(('student',),)

In [37]:
cur.execute('describe student')

4

In [38]:
data = cur.fetchall()

In [40]:
print(*data, sep='\n')

('name', 'varchar(100)', 'NO', '', None, '')
('sid', 'int(12)', 'NO', 'PRI', None, '')
('maths', 'int(11)', 'YES', '', None, '')
('sci', 'int(11)', 'YES', '', None, '')

In [42]:
cur.execute('select * from student')

6

In [43]:
data = cur.fetchall()

In [44]:
data

(('abcd', 1, None, None),
 ('sachin', 2, 40, 50),
 ('rajat', 3, 50, 60),
 ('manish', 4, 70, 56),
 ('kushal', 5, 66, 45),
 ('simran', 6, 70, 80))

In [48]:
cur.execute('update student set maths=90 where \
name="sachin"')

1

In [49]:
connection.commit()

In [45]:
cur.execute('insert into student values\
("yadvendra", 7, 50, 60)')

1

In [46]:
connection.commit()

In [50]:
cur.execute('select * from student')

7

In [62]:
def get_data(cmd):
    cur.execute(cmd)
    for t in cur.fetchall():
        print(*t, sep='\t')

In [52]:
cur.execute('delete from student where sid=1')

1

In [54]:
get_data()

sachin	2	90	50
rajat	3	50	60
manish	4	70	56
kushal	5	66	45
simran	6	70	80
yadvendra	7	50	60

In [55]:
connection.rollback()

In [56]:
get_data()

abcd	1	None	None
sachin	2	90	50
rajat	3	50	60
manish	4	70	56
kushal	5	66	45
simran	6	70	80
yadvendra	7	50	60

In [57]:
cur.execute('truncate student')

0

In [58]:
get_data()

In [59]:
cur.execute('commit')

0

In [60]:
cur.execute('show tables')

1

In [61]:
cur.fetchone()

('student',)

In [63]:
get_data('describe student')

name	varchar(100)	NO		None
sid	int(12)	NO	PRI	None
maths	int(11)	YES		None
sci	int(11)	YES		None

In [64]:
cur.execute("drop table student")

0

In [65]:
connection.commit()

In [66]:
get_data('show tables')

In [67]:
cur.close()
connection.close()

In [69]:
con = pymysql.connect(
host = 'localhost',
port = 3306,
user = 'root',
password = '',
)

In [70]:
cur = con.cursor()

revoke all privileges on infytq.* from 'sachin'@'localhost';

In [74]:
#cur.execute('REVOKE ALL PRIVILEGES ON \
#infytq.* from "sachin"@"localhost"')

In [78]:
con = pymysql.connect(
    host='192.168.73.131',
    port = 3306,
    user = 'demo',
    password = 'redhat',
    database = 'world'
)

In [79]:
cur = con.cursor()

In [80]:
get_data('show tables;')

City
Country
CountryLanguage

Query

In [82]:
get_data('describe Country')

Code	char(3)	NO	PRI
Name	char(52)	NO
Continent	enum('Asia','Europe','North America','Africa','Oceania','Antarctica','South America')	NO		Asia
Region	char(26)	NO
SurfaceArea	float(10,2)	NO		0.00
IndepYear	smallint(6)	YES		None
Population	int(11)	NO		0
LifeExpectancy	float(3,1)	YES		None
GNP	float(10,2)	YES		None
GNPOld	float(10,2)	YES		None
LocalName	char(45)	NO
GovernmentForm	char(45)	NO
HeadOfState	char(60)	YES		None
Capital	int(11)	YES		None
Code2	char(2)	NO

In [84]:
get_data("select count(*) from Country")

239

In [85]:
cmd = "SELECT name,population from Country limit 5"
get_data(cmd)

Aruba	103000
Afghanistan	22720000
Angola	12878000
Anguilla	8000
Albania	3401200

In [87]:
cmd = "SELECT name,population from Country order by \
population DESC limit 10"
get_data(cmd)

China	1277558000
India	1013662000
United States	278357000
Indonesia	212107000
Brazil	170115000
Pakistan	156483000
Russian Federation	146934000
Bangladesh	129155000
Japan	126714000
Nigeria	111506000

In [88]:
cmd = "SELECT name,population from Country order by \
population ASC limit 10"
get_data(cmd)

French Southern territories	0
Heard Island and McDonald Islands	0
United States Minor Outlying Islands	0
South Georgia and the South Sandwich Islands	0
Bouvet Island	0
British Indian Ocean Territory	0
Antarctica	0
Pitcairn	50
Cocos (Keeling) Islands	600
Holy See (Vatican City State)	1000

In [89]:
cmd = "select name from Country where IndepYear = 1947"

In [90]:
get_data(cmd)

India
Pakistan

In [99]:
cmd = "select name,IndepYear from Country where IndepYear \
BETWEEN 1940 AND 1950 "

In [98]:
get_data(cmd)

Indonesia	1945
India	1947
Iceland	1944
Israel	1948
Jordan	1946
South Korea	1948
Lebanon	1941
Sri Lanka	1948
Myanmar	1948
Pakistan	1947
Philippines	1946
North Korea	1948
Syria	1941
Taiwan	1945
Vietnam	1945